body {
    font-family: "Bahnschrift";
}

.bss-logo-main {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/navbar-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
}

.navbar-brand {
    text-align: center;
}

.contact-info {
    color: #fff;
}

.nav-link {
    color: #fff;
    border-radius: 20px;
    padding: 0.45rem 0.65rem !important;
}

.nav-link:hover {
    color: #000 !important;
    background-color: #fff;
}

.nav-link:visited {
    color: #fff;
}

.nav-item {
    margin: 0 15px;
}