body {
    font-family: "Bahnschrift";
}

/* Header */

.bss-logo-main {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/navbar-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 575px;
}

.navbar-brand {
    text-align: center;
}

.contact-info {
    color: #fff;
    font-size: 1rem;
}

.navbar-toggler {
    border: 2px solid #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
    color: #fff;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.45rem 0.65rem !important;
    text-align: center;
}

.nav-link:hover {
    color: #000 !important;
    background-color: #fff;
}

.nav-link:active {
    color: #000 !important;
    background-color: #fff;
}

.nav-link:visited {
    color: #fff;
}

.nav-item {
    margin: 0 15px;
}

.dropdown-item {
    text-align: center;
}

.icon-links {
    position: absolute;
    bottom: 25px;
}

a {
  text-decoration: none;
}

.social-link {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.social-link:hover {
    color: #265cff;
}

/* Mini Header */

.mini-navbar-bg {
    height: auto;
}

.mini-header-logo {
    display: flex;
    min-height: auto;
    min-width: auto;
}

/* Admin Panel */

.admin-panel {
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) ), url("../images/bss-logo.png");
    background-size: 15%;
}

.table-title {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.whole-table {
    margin-top: 30px;
    margin-bottom: 20px;
    --bs-table-bg: rgba(0, 0, 0, 0.2);
    --bs-table-color: #fff;
    backdrop-filter: blur(10px);
}

.table-head {
    --bs-table-bg: rgb(38, 89, 184);
    height: 80px;
}

.table-header-cols {
    position: relative;
}

.table-header-cols:not(:last-child):after {
    content: '';
    height: 80%;
    width: 1px;

    position: absolute;
    right: 0;
    top: 13%;

    background-color: #fff;
}

.table-body {
    border: #577291;
    border-top: calc(var(--bs-border-width) * 3) solid #307ace;
}

.enquiry-row:hover {
    --bs-table-bg: rgb(104, 118, 138);
}

table tbody tr:last-child {
    border: none;
}

/* View Enquiries */

.read-more-btn {
    color: #3689e9;
    text-decoration: none;
    font-size: 0.9rem;
}

.message-preview, .message-full {
    word-break: break-word;
}

.message-text {
    max-width: 500px;
}

.booking-message-text {
    max-width: 375px;
}

.notes-text {
    max-width: 400px;
}

.booking-notes-text {
    max-width: 250px;
}


.pagination {
    margin-bottom: 40px;
}

.page-link {
    background-color: #00000077;
    color: #fff;
}

.disabled .page-link {
    background-color: #00000077;
    color: #fff;
}

/* Make an Enquiry & Service Request */

.enquiry-sect {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/login-reg-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.enquiry-form {
    color: #fff;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.4);
    max-width: 650px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.9);
    border: 2px #7a7a7a solid;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 30px;
}

.enquiry-labels {
    padding-bottom: 12px;
}

.message-enquiry {
    height: 150px;
}

.muted-name {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.8em;
    font-weight: 200;
}

.enquiry-fields {
    margin-top: 20px;
    margin-bottom: 20px;
}

.required-mark {
    font-size: 0.9rem;
    color: #ff000075;
}

.enquiry-cols {
    min-width: 240px;
}

.enquiry-input {
    background-color: #00000077;
    border: 1px solid #48b6ffc4;
    outline: none;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.enquiry-input:focus {
    background-color: rgba(146, 146, 146, 0.63);
    color: #000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.enquiry-input::placeholder {
    color: #fff;
}

.enquiry-input:focus::placeholder {
    color: #000;
}

.recaptcha-warning {
    margin-top: 40px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* Register & Login */

.login-reg-sect {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/login-reg-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.login-reg-alert {
    margin-top: 30px;
    max-width: 500px;
}

.login-reg-form {
    color: #fff;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.4);
    max-width: 425px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border: 2px #7a7a7a solid;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 30px;
    height: 450px;
}

.login-reg-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px #fff solid;
    border-radius: 0;
    outline: none;
    color: inherit;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.login-reg-input:focus {
    background-color: transparent;
    color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-reg-btn {
    margin-top: 10px;
    width: 100%;
}

/* Footer */

.footer {
    color: #fff;
    background-image: linear-gradient(to bottom right, #211526, #001124);
}

.footer-text {
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 200;
}

.footer-subtext {
    font-size: 0.875rem;
    font-style: oblique;
}

.company-info {
    font-size: 0.875rem;
    font-weight: 200;
}

.footer-links {
    margin-bottom: 25px;
}

/* Max screen wixth of 991px */

@media screen and (max-width: 991px) {
    /* Header */
    
    .navbar-brand {
        max-width: 75%;
    }
}

/* Max screen width of 407px */

@media screen and (max-width: 407px) {
    /* Header */
    
    .navbar-brand {
        font-size: medium;
    }
    
    .icon-links {
        font-size: 10px;
    }
    
    .contact-info {
        font-size: 12px;
    }

    /* Make an Enquiry */
    
    .g-recaptcha {
        transform: scale(0.80);
        -webkit-transform: scale(0.80) translate(40px, 0);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}