{% include "mini-header.html" %}

<section class="admin-panel" id="enquiries">
    <div class="container d-flex justify-content-center">
        <div class="table-responsive-lg">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"># Enquiry ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Message</th>
                        <th scope="col">Dealer Notes</th>
                        <th scope="col">Created on</th>
                        <th scope="col">Status</th>
                        <th class="text-center" scope="colgroup" colspan="2">Action</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    {% for enquiry in enquiries %}
                        <tr>
                            <td>{{ enquiry.enquiry_id }}</td>
                            <td>{{ enquiry.first_name }}</td>
                            <td>{{ enquiry.last_name }}</td>
                            <td>{{ enquiry.email }}</td>
                            <td>{{ enquiry.phone }}</td>
                            <td>{{ enquiry.message }}</td>
                            <td>{{ enquiry.notes }}</td>
                            <td>{{ enquiry.created_at }}</td>
                            <td>{{ enquiry.status }}</td>
                            <td><a href="">Manage</a></td>
                            <td><a href="">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% include "footer.html" %}