<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSS Motorcycles</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
</head>
<body>
    <div class="navbar-bg icon-links-holder">
        <div class="container-l">
            <nav class="navbar navbar-expand-lg rounded" aria-label="navbar start">
                <div class="container-fluid justify-content-end">
                    <a class="navbar-brand col me-0" href="{{ url_for('home') }}">
                        <img class="bss-logo-main" src="./static/images/bss-logo.png" alt="BSS">

                        <span class="contact-info">
                            BSS Engineering & Consultancy LTD.
                            <br>Unit 4
                            <br>15-17 Roebuck Road Hainault
                            <br>London, IG6 3TU
                            <br>
                            <br>e: office@bikesafestorage.co.uk
                            <br>DL: 0787 650 2001
                            <br>DL: 0785 738 5916
                        </span>
                    </a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarscontent" aria-controls="navbarscontent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse d-lg-flex" id="navbarscontent">
                        <div class="container d-lg-flex col justify-content-lg-end">
                            <ul class="navbar-nav col-lg-12 justify-content-lg-center">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Our Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Book Online</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Motorcycles For Sale</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Used Scooters</a></li>
                                        <li><a class="dropdown-item" href="#">Used Motorcycles</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="d-flex justify-content-center">
            <div class="icon-links">
                <i class="fa-brands fa-facebook fa-3x fa-icon" style="color: #ffffff;"></i>
                <i class="fa-brands fa-instagram fa-3x fa-icon" style="color: #ffffff;"></i>
                <i class="fa-brands fa-tiktok fa-3x fa-icon" style="color: #ffffff;"></i>
                <i class="fa-solid fa-envelope fa-3x fa-icon" style="color: #ffffff;"></i>
                <i class="fa-solid fa-phone fa-3x fa-icon" style="color: #ffffff;"></i>
            </div>
        </div>
    </div>