<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSS Motorcycles</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
</head>
<body>
    <div class="navbar-bg">
        <div class="container-l">
            <nav class="navbar navbar-expand-lg rounded" aria-label="navbar start">
                <div class="container-fluid justify-content-evenly">
                    <div class="navbar-brand col me-0">
                        <a class="navbar-brand col me-0" href="{{ url_for('home') }}">
                            <img class="bss-logo-main" src="./static/images/bss-logo.png" alt="BSS">
                        </a>

                        <span class="contact-info">
                            BSS Engineering & Consultancy LTD.
                            <br>Unit 4
                            <br>15-17 Roebuck Road Hainault
                            <br>London, IG6 3TU
                            <br>
                            <br>e: office@bikesafestorage.co.uk
                            <br>DL: 0787 650 2001
                            <br>DL: 0785 738 5916
                        </span>
                    </div>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="offcanvas offcanvas-end d-lg-flex" tabindex="-1" id="offcanvasNavbar" data-bs-theme="dark" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">BSS Motorcycles</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="container d-lg-flex col justify-content-lg-end">
                            <ul class="navbar-nav col-lg-12 justify-content-lg-center flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Services</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Enquire</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ url_for('make_enquiry') }}">Make an Enquiry</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('service_request') }}">Service Booking</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Used Vehicles</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Motorcycles</a></li>
                                        <li><a class="dropdown-item" href="#">Scooters</a></li>
                                    </ul>
                                </li>

                            {% if not current_user.is_authenticated: %}

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('login') }}"><i class="fa-solid fa-user"></i> Login</a>
                                </li>

                            {% else: %}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ url_for('view_enquiries') }}">Enquiries</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('view_bookings') }}">Bookings</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('view_stock') }}">Inventory</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa-sharp fa-solid fa-arrow-right-to-bracket fa-rotate-180"></i> Logout</a>
                                </li>

                            {% endif %}
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="d-flex justify-content-center">
            <div class="icon-links">
                <a href="https://www.facebook.com/people/BSS-Motorcycles/61561302381753">
                    <i class="fa-brands fa-facebook fa-3x social-link"></i>
                </a>
                <a href="https://www.instagram.com/bss_motorcycles">
                    <i class="fa-brands fa-instagram fa-3x social-link"></i>
                </a>
                <a href="https://www.tiktok.com/@bssmotorcycles">
                    <i class="fa-brands fa-tiktok fa-3x social-link"></i>
                </a>
                <a href="mailto:office@bikesafestorage.co.uk">
                    <i class="fa-solid fa-envelope fa-3x social-link"></i>
                </a>
                <a href="tel:07876502001">
                    <i class="fa-solid fa-phone fa-3x social-link"></i>
                </a>
            </div>
        </div>
    </div>