{% include "header.html" %}

<section class="enquiry-sect" id="service-request-sect">
    <div class="container">
        <div class="d-flex justify-content-center">
            {% if form.recaptcha.errors %}
                <div class="alert alert-danger alert-dismissible show fade recaptcha-warning" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <p>Please complete the reCAPTCHA.</p>
                </div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-center">
            <div class="container enquiry-form">
                <h1 class="text-center">Make a Service Request</h1>

                <hr>

                <form method="POST" action="{{ url_for('service_request') }}">
                    {{ form.csrf_token }}

                    <div class="mb-3">
                        {{ form.booking_type.label(class_ = 'enquiry-labels') }}<span class="required-mark"> *</span>
                        {{ form.booking_type(class_ = 'form-control enquiry-input') }}
                    </div>

                    <div class="row mb-3">
                        <p>Your Name<span class="required-mark"> *</span></p>

                        <div class="col-sm-6">
                            {{ form.firstName(class_ = 'form-control enquiry-input') }}
                            {{ form.firstName.label(class_ = 'muted-name') }}
                        </div>

                        <div class="col-sm-6">
                            {{ form.lastName(class_ = 'form-control enquiry-input') }}
                            {{ form.lastName.label(class_ = 'muted-name') }}
                        </div>

                        <div class="col-sm-6 enquiry-fields">
                            {{ form.email.label(class_ = 'enquiry-labels') }}<span class="required-mark"> *</span>
                            {{ form.email(class_ = 'form-control enquiry-input', placeholder="name@example.com") }}
                        </div>

                        <div class="col-sm-6 enquiry-fields">
                            {{ form.phone.label(class_ = 'enquiry-labels') }}<span class="required-mark"> *</span>
                            {{ form.phone(class_ = 'form-control enquiry-input', type='tel', pattern='[0-9]*', inputmode='numeric', placeholder="07876502001") }}
                        </div>
                        
                        <div class="col-sm-6 enquiry-fields">
                            {{ form.date_time.label(class_ = 'enquiry-labels') }}<span class="required-mark"> *</span>
                            {{ form.date_time(class_ = 'form-control enquiry-input') }}
                        </div>

                        <div class="col-sm-6 enquiry-fields">
                            {{ form.reg.label(class_ = 'enquiry-labels') }}<span class="required-mark"> *</span>
                            {{ form.reg(class_ = 'form-control enquiry-input', placeholder="AB12 CDE") }}
                        </div>
                    </div>
                    
                    <hr>

                    <div class="mb-3 enquiry-fields">
                        {{ form.message.label(class_ = 'enquiry-labels') }}
                        {{ form.message(class_ = 'form-control message-enquiry enquiry-input',  placeholder="Any special requests?") }}

                        <div class="d-flex justify-content-center enquiry-fields">
                            {{ form.recaptcha(class_='recaptcha-resizing') }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="mb-3 enquiry-fields">
                            {{ form.submit(class_ = 'btn btn-primary enquiry-button') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}