<!--Footer-->
<footer class="footer text-center">
      <div class="container">
            <div class="row">
                  <p class="col-12 footer-text">©  2025 BSS Engineering & Consultancy LTD.  UK, Inc. All rights reserved.</p>
                  <p class="col-12 footer-subtext">BSS Motorcycles is the trade name used by BSS Engineering & Consultancy LTD.</p>

                  <div class="d-flex justify-content-around">
                        <p class="company-info">VAT: GB 472 4576 70</p>
                        <p class="company-info">Company No: 15561882</p>
                  </div>

                  <div class="footer-links">
                        <a href="https://www.facebook.com/people/BSS-Motorcycles/61561302381753">
                              <i class="bi bi-facebook social-link h1"></i>
                        </a>
                        <a href="https://www.instagram.com/bss_motorcycles">
                              <i class="bi bi-instagram social-link h1"></i>
                        </a>
                        <a href="https://www.tiktok.com/@bssmotorcycles">
                              <i class="bi bi-tiktok social-link h1"></i>
                        </a>
                        <a href="mailto:office@bikesafestorage.co.uk">
                              <i class="bi bi-envelope-at-fill social-link h1"></i>
                        </a>
                        <a href="tel:07876502001">
                              <i class="bi bi-telephone-fill social-link h1"></i>
                        </a>
                  </div>
            </div>
      </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/enquiries.js') }}"></script>
<script src="{{ url_for('static', filename='js/enquiries-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/api-integration.js') }}"></script>
<script src="{{ url_for('static', filename='js/bookings-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/calendar-behaviour.js') }}"></script>
<script src="{{ url_for('static', filename='js/image-controls.js') }}"></script>
<script src="{{ url_for('static', filename='js/vehicles-filter.js') }}"></script>
</body>
</html>