{% include "header.html" %}

<section class="admin-panel d-flex" id="motorcycles-panel">
    <div class="container-lg">
        <div class="container-fluid">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-{{ category }} alert-dismissible show fade login-reg-alert" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="d-flex justify-content-center">
                <h1 class="table-title text-center">Motorcycles</h1>
            </div>

            <div class="row mb-2 align-items-end">
                <h5 class="col enquiry-parameter-text ms-2 mb-0">
                    {{ motorcycles | length }} Motorcycles Available
                </h5>
            </div>
        </div>

        <div class="row">
            {% for motorcycle in motorcycles %}
                <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
                    <div class="card listings-card">

                        {% set primary_image = motorcycle.images|selectattr('is_primary') | first %}

                        <img src="{{ url_for('static', filename='images/default_vehicle.jpg') if not primary_image else url_for('static', filename='uploads/vehicle_images/' + primary_image.image_path) }}" 
                        class="card-img-top listings-image" 
                        alt="{{ motorcycle.make }} {{ motorcycle.model }}">

                        <div class="card-body ms-2">
                            <a href=""><h5 class="card-title">{{ motorcycle.make }} {{ motorcycle.model }}</h5></a>
                            <p class="card-text">{{ motorcycle.reg }}</p>
                            
                            <div class="row">
                                <div class="col-6">
                                    <p><i class="bi bi-calendar h6"></i> {{ motorcycle.created }}</p>
                                </div>
                                <div class="col-6">
                                    <p><i class="bi bi-gear h6"></i> {{ motorcycle.trans }}</p>
                                </div>
                                <div class="col-6">
                                    <p><i class="bi bi-speedometer2 h6"></i> {{ motorcycle.mileage }}</p>
                                </div>
                                <div class="col-6">
                                    <p><i class="bi bi-fuel-pump h6"></i> {{ motorcycle.fuel_type }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center mb-3 ms-2">
                            <div class="col-6">
                                <h4 class="listing-price ms-1 mt-2">£4,832</h4>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include "footer.html" %}